* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin: 50px;
}
body {
  background-color: #CACFD2;
  font-family: Cambria;
  text-align:center
}
.project {
color: #2C3E50;
}
code{
  background-color:white;
  font-size: 15px;
}
::placeholder{
  text-align: center
}
a{
  text-decoration: none
}